<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.github.magloft.mlx.location">
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <application android:allowBackup="true">
    <provider
        android:authorities="${applicationId}.com.github.magloft.mlx.location"
        android:exported="false"
        android:enabled="true"
        android:name=".Location" />
  </application>
</manifest>
